/* Hide input type number spinners */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


#corner-button{
  position: fixed;
  right: 1em;
  bottom: 1em;
  margin-top: -2.5em;
}