/* Hide input type number spinners */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
body {
  -ms-overflow-style: none;
}

.list-group{
    max-height: 400px;
    margin-bottom: 10px;
    overflow:scroll;
    -ms-overflow-style: none;
}

.list-group::-webkit-scrollbar {
  display: none;
}

#corner-button{
  position: fixed;
  right: 1em;
  bottom: 1em;
  margin-top: -2.5em;
}